--
-- PostgreSQL database dump
--

\restrict MLHjNNyIUW0oEih7sHX2Bzn0nS8xmkbAxkGihiqm3Ry7l2gTiAD8E4mYfHw01qV

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: metric_observations; Type: TABLE; Schema: public; Owner: ecdt
--

CREATE TABLE public.metric_observations (
    id bigint NOT NULL,
    resource_id text NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    value double precision NOT NULL,
    metric_type text NOT NULL,
    metric_name text NOT NULL,
    case_id text,
    dataset text,
    fault text
);


ALTER TABLE public.metric_observations OWNER TO ecdt;

--
-- Name: metric_observations_id_seq; Type: SEQUENCE; Schema: public; Owner: ecdt
--

CREATE SEQUENCE public.metric_observations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.metric_observations_id_seq OWNER TO ecdt;

--
-- Name: metric_observations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ecdt
--

ALTER SEQUENCE public.metric_observations_id_seq OWNED BY public.metric_observations.id;


--
-- Name: metric_observations id; Type: DEFAULT; Schema: public; Owner: ecdt
--

ALTER TABLE ONLY public.metric_observations ALTER COLUMN id SET DEFAULT nextval('public.metric_observations_id_seq'::regclass);


--
-- Data for Name: metric_observations; Type: TABLE DATA; Schema: public; Owner: ecdt
--

COPY public.metric_observations (id, resource_id, "timestamp", value, metric_type, metric_name, case_id, dataset, fault) FROM stdin;
\.


--
-- Name: metric_observations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ecdt
--

SELECT pg_catalog.setval('public.metric_observations_id_seq', 3, true);


--
-- Name: metric_observations metric_observations_pkey; Type: CONSTRAINT; Schema: public; Owner: ecdt
--

ALTER TABLE ONLY public.metric_observations
    ADD CONSTRAINT metric_observations_pkey PRIMARY KEY (id, "timestamp");


--
-- Name: idx_metric_observations_case_timestamp; Type: INDEX; Schema: public; Owner: ecdt
--

CREATE INDEX idx_metric_observations_case_timestamp ON public.metric_observations USING btree (case_id, "timestamp" DESC);


--
-- Name: idx_metric_observations_metric_timestamp; Type: INDEX; Schema: public; Owner: ecdt
--

CREATE INDEX idx_metric_observations_metric_timestamp ON public.metric_observations USING btree (metric_name, "timestamp" DESC);


--
-- Name: idx_metric_observations_resource_timestamp; Type: INDEX; Schema: public; Owner: ecdt
--

CREATE INDEX idx_metric_observations_resource_timestamp ON public.metric_observations USING btree (resource_id, "timestamp" DESC);


--
-- Name: metric_observations_timestamp_idx; Type: INDEX; Schema: public; Owner: ecdt
--

CREATE INDEX metric_observations_timestamp_idx ON public.metric_observations USING btree ("timestamp" DESC);


--
-- PostgreSQL database dump complete
--

\unrestrict MLHjNNyIUW0oEih7sHX2Bzn0nS8xmkbAxkGihiqm3Ry7l2gTiAD8E4mYfHw01qV

