# ==============================================
# Knowledge Graph Requirements
# ==============================================
neo4j
python-dotenv


# ==============================================
# Digital Twin Requirements
# ==============================================
psycopg[binary]>=3.2,<4